<h1>The current user is: <%= @auth.try(:username) %></h1>

<%= @users.each do |user| %>

<p><%= user.username %></p>
<td><%= link_to 'Show', user %></td>
<td><%= link_to 'Edit', edit_user_path(user) %></td>
<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

<% end %>
<br/>
<%= link_to 'New User', new_user_path %>


<p>Find me in app/views/users/index.html.erb</p>
