<h1><%= @user.username %></h1>

<p>Find me in app/views/users/show.html.erb</p>


<%= link_to "Edit", edit_user_path %>
<%= link_to "My Prefs", my_prefs_path %>
<%= link_to "Create New User", new_user_path %>
<%= link_to "Back to Index", users_path %><br/>


<% if @user.is_seller %>
    <%= link_to "Post a Meal", new_meal_path %>
<% end %>

<h1><% @user.meals.each do |meal| %></h1>
<%= meal.meal_name %>
<% end %>






